.chat {
    width: 70%;
    background: #ccc;
    height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #040404;
}

