.chat-footer {
    background: #dfe7ff;
    padding: 10px 15px;
}

.chat-footer > form {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.chat-footer textarea {
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    resize: none;
    max-height: 250px;
}
textarea::-webkit-scrollbar{
    width: 0;
}
.srollbar-active::-webkit-scrollbar{
    width: 3.5px;
}
.srollbar-active::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    height: 30px;
}


.chat-footer button {
    background: none;
    border: none;
    width: 15%;
}

.chat-footer button p {
    font-size: 28px;
    color: #4b84ff;
    transition: all .3s;
}
.chat-footer button p:hover {
    cursor: pointer;
    color: #1860fb;
}
.chat-footer .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.chat-footer .loading {
    display: inline-flex;
}
.chat-footer .loading span {
    margin: 0 4px;
    width: 6px;
    height: 6px;
    border-radius: 99%;
    background: #4b84ff;
    animation: dots 1.5s ease-in-out infinite;
}
.chat-footer .loading span:nth-child(2) {
    animation-delay: 300ms;
}
.chat-footer .loading span:nth-child(3) {
    animation-delay: 400ms;
}

@keyframes dots {
    0%, 44% {
        transform:  translateY(0px);
    }
    28% {
        opacity: 0.4;
        transform:  translateY(-9px);
    }
    
}