.chat-body{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    background-color:#c8f5ff;
}
.msg {
    width: fit-content;
    max-width: 85%;
    padding: 4px 8px;
    border-radius: 8px;
    word-wrap: break-word;
}
.user-msg {
    background-color: #277af7;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}
.assistant-msg{
    background-color: aqua;
    border-bottom-left-radius: 0;
}
