.chat-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    color: #000000;
    background: #6786FA;
}

.chat-header>img {
    height: 60%;
}